/* SKIP LINKS STYLES */
.skip-links{
  list-style: none;
  margin: 0;
  padding: 0;
}
.skip-links a{
  position: absolute;
  top: -3em;
  background-color: black;
  color:white;
  padding: .5em 1em;
  font-weight: bold;
}
.skip-links a:focus{
  top: 0;
}

/* GLOBAL STYLES */
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  font-family: 'Poppins', sans-serif;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  line-height: normal;
}

h3 {
  font-size: 2.25rem;
}

p {
  font-size: 1rem;
}

/* HEADER STYLES */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
}

/* Logo */
header a img {
  height: 30px; 
}

/* Default styles for the navigation */
#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#main-nav li {
  margin-right: 20px;
}

#main-nav a {
  text-decoration: none;
  color: #333;
}

.main-nav ul li a.active,
.main-nav ul li a:hover,
.main-nav ul li a:focus {
  color: #FA4A0C;
}

/* HERO STYLES */

.hero {
    text-align: center;
    padding: 10px;
}

.hero strong {
    font-size: 1rem;
    color: #737373;
}

.hero h1 {
    font-size: 2.5rem;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin: 20px 0;
    color: #737373;
}

/* ANIMATION 1 */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.hero {
  animation: fadeIn 1s ease-out;
}

/* APP STORE BUTTONS STYLES */
.app-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 0;
}

.playstore, .appstore {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 0 1rem;
    border-radius: 30px;
    background-color: #FA4A0C;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.appstore {
    background-color: transparent;
    color: #FA4A0C;
    border: 1px solid #FA4A0C;    
}

/* Hover effects for buttons*/
.playstore:hover {
    background-color: #b32c2c;
  }

.appstore:hover {
  background-color: #b32c2c;
}

/* 2 phones mockup styles */
.mockup img {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  top: -3em;
}

/* HOW THE APP WORK STYLES */
.how-app-works h2 {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(37, 43, 66);
  padding: 1rem;
    font-weight: 600;
}


/* HR STYLES */
.line-above {
  width: 100%; 
  border: 1px solid rgb(228, 228, 228);
  margin: 0 auto;
}

/* Show the line below on mobile */
.line-below {
  display: none;
  width: 884px;
  border: 1px solid rgb(228, 228, 228);
  margin: 0 auto; 
}


/* STEPS STYLES */
.steps {
  text-align: center;
  margin-bottom: 10px;
}

.steps h3 {
  color: #FA4A0C; 
  margin-bottom: 20px;
  margin-top: 30px; 
  font-size: 1.5rem; 
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}

.steps h2 {
  color: #252B42;
  margin-bottom: 25px; 
  font-size: 2.5rem; 
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 1.2;
}

.steps p {
  font-size: 1.5rem;
  padding: 0 40px; 
  margin-left: 30px;
  margin-right: 30px;
  color: #737373;
  line-height: 1.2;
  margin-top: 35px;
}

.steps img {
  width: 100%; 
}

/* ANIMATION 2 */
@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.steps {
  animation: slideUp 0.5s ease-out forwards;
  opacity: 0; 
}

.steps:nth-child(1) { animation-delay: 0.3s; }
.steps:nth-child(2) { animation-delay: 0.6s; }
.steps:nth-child(3) { animation-delay: 0.9s; }


/* DOWLOAD THE APP STYLES */
/* mobile section with color*/
.download-app {
  background-color: #252B42;
  color: #fff;
  text-align: center;
  padding: 70px 20px;
}

.download-app h2 {
  margin-bottom: 1.2rem; 
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.download-app p {
  margin-bottom: 2.5rem;
  color: #BDBDBD;
  line-height: 1.5;
  margin-left: 30px;
  margin-right: 30px;
}

/* BUTTONS DOWLOAD STYLES */
.buy-now, .try-for-free {
  background-color: #FA4A0C; 
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 16px;
  cursor: pointer;
  border-radius: 10px;
}

.buy-now {
  background-color: #fa4a0c;
  color: #fff;
  border: none;
  margin-bottom: 20px;
}

.try-for-free {
  background-color: transparent; 
  color: #fff; 
  border: 2px solid #fff;
  margin-bottom: 40px
}

/* Hover effects for buttons*/
.try-for-free:hover {
  background-color: #b32c2c;
}

.try-for-free.appstore:hover {
background-color: #b32c2c;
}

/* FAQ STYLES */
.faq {
  padding-left: 20px; 
  padding-right: 20px; 
  max-width: 800px; 
  margin: auto; 
} 
summary {
  font-weight: bold;
  cursor: pointer;
  padding: .5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;  
  transition: height 1s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after{
  content: "\002B";
}

details[open] summary {
    border-bottom: 1px solid #FA4A0C;
    margin-bottom: 1rem;
    border_radius: 5px
}

details[open] summary:after{
  content: "\00D7";
  color: #BDBDBD;
}

details[open] div{
  padding: .5em 1em;
}

/* CONTACT PAGE STYLES */
.contactFormLabel{
  font-family: 'Poppins', sans-serif;
}
.contact-section {
  max-width: 600px; 
  margin: 0 auto; 
  padding: 2rem; 
  text-align: center; 
}

.contact-section h2 {
  margin-bottom: 1rem; 
  font-size: 2rem;
}

.contact-section form {
  display: grid;
  gap: 1rem; 
}

.contact-section label {
  text-align: left; 
  font-family: 'Montserrat', sans-serif;
}

.contact-section input,
.contact-section textarea {
  font-family: 'Montserrat', sans-serif;
  width: 100%; 
  padding: 0.5rem; 
  margin-top: 0.5rem;
  border: 1px solid #fa4a0c; 
  border-radius: 4px; 
}

.contact-section button {
  background-color: #FA4A0C; 
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 16px;
  cursor: pointer;
  border-radius: 10px;
}

.contact-section button:hover {
  background-color: #b32c2c;
}

/* FOOTER STYLES */
footer {
  background-color: #ffffff;
  text-align: center;
  padding: 1.5rem;
}

.footer-logo img {
  max-width: 100px; 
  margin-bottom: 1rem;
}

.footer-socialmedia a img {
  width: 40px; 
  height: 40px;
  margin: 0.5rem;
}

.footer-socialmedia {
  margin-bottom: 10px;
}

.footer-copyright p {
  font-size: .7rem; 
  margin-bottom: 1.5rem;
}

/* DESKTOP STYLES */

/* Larger screens (desktops) */
@media (min-width: 768px) { 
  
  /* HEADER STYLES */
  header a img {
    height: 100px; 
  }
  
  #main-nav ul {
    justify-content: flex-end; 
  }
  
  #main-nav li {
    margin-right: 50px; 
    font-size: 16px;
  }

  /* HERO SECTION STYLES */
  .hero {
    background-image: url("/images/background_food_image.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 6rem;
    background-position: center;
  }

  .hero strong,
  .hero p {
    width: 50%;
    color: #F6F6F6;
  }

  .hero h1{
    max-width: 580px;
    color: #FFFFFF;
  }

  .hero p {
    padding-bottom: 30px;
  }

  /* APP STORE BUTTONS STYLES */
  .app-links {
    flex-direction: row;
    justify-content: center;
  }

  .playstore, .appstore {
    margin: 0 20px; 
    padding: 1.2rem 3rem; 
    font-size: 1.2rem;
  }

  .appstore {
    color: #ffffff;
    border: 1px solid #ffffff;
  }

  /* MOCKUP IMAGE STYLES */
  .mockup img {
    position: relative;
    top: -15em;
    width: 548px;
  }

  .mockup {
    height: 800px;
    text-align: center;
  }

  /* HOW THE APP WORKS STYLES */
  .line-above {
    width: 884px;
  }

  .line-below {
    display: none;
  }

.how-app-works {
  margin-top: 40px;
}

.how-app-works h2{
font-size: 44px;
}

.steps, .steps h2 {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  text-align: left;
}

.steps .text-step {
  flex: 1;
}

.steps:nth-child(odd) .text-step {
  flex-direction: row-reverse;
  margin-right: 4em;
  margin-left: 5em;
}

.steps:nth-child(even) .text-step {
  order: 1;
  margin-right: 7em;
}

.steps img {
  width: auto;
  height: auto;
  margin-left: 4em;
  margin-right: 4em;
  max-width: 100%;
}

.steps p {
  padding: 0;
}

/* DOWNLOAD THE APP STYLES */
.download-app {
  background-image: url('/images/download_image.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.download-app p {
  color: #FFFFFF;
}

/* FOOTER STYLES */
.footer-content{
    height: 133px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a img {
  height: 80px;
}

.footer-socialmedia {
  padding: 50px;
}

.footer-copyright{
  font-size: 12px;
}
}

